@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container .navbar{
    padding: 20px 0;
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.navbar img{
    width: 130px;
}
.carousel-inner{
    background-image: url(images/bg-2.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background: cover;
}
.slider-bg{
    padding-bottom: 50px;
    background-image: url(images/bg-1.PNG);
    background-repeat: no-repeat;
    background-position: left bottom;
    background: cover;
}
.carousel-indicators li:first-child{
    width: 40px;
    height: 8px;
    border-radius: 5px;
}
.carousel-indicators li{
   height: 8px;
   width: 10px;
   border-radius: 5px;
    background-color: lightgray;
}
.carousel-indicators .active {
    background-color: #FFC320;
}
.buy-now-btn{
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius:5px;
    font-size: 13px;
}
.buy-now-btn:hover{
    text-decoration: none;
    color: #fff;
}
.common-bottom, .slider-bg{
    margin-bottom: 100px;
}
p{
    font-size: 13px;
    color: gray;

}
.price{
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.card{
    border: none;
    box-shadow: 3px 5px 15px lightgray;
    padding: 50px 0 30px 0;
    border-radius: 5px;
}
.card-head{
    padding-bottom: 20px;
}
.card-head h3{
    font-weight: 700;
    font-size: 20px;
}
.card-head h6{
    color: #FFA312;
}
.cat1 h5, .cat2 h5, .cat3 h5{
    padding-top: 20px;
    font-weight: 600;
}
.cat3{
    margin-top: 50px;
}
.categories .card{
    border-radius: 10px 0 10px 0;
}
.categories h3::after {
    content: "";
    background-image: linear-gradient(to right, rgb(243, 201, 87), #ffaf1b 50%);
    width: 109px;
    height: 6px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}

footer{
    background: #fbfafa;
    box-shadow: 5px 5px 10px darkgrey;
    padding: 40px;
}
footer .nav-link {
      display: block;
      padding: .5rem 0;
      color: #3d3d3d;
  }
footer .nav-link:hover {
      color: orange
  }
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .slider-bg h1{
        font-size: 20px;
        font-weight: 600;
    }
   .slider-bg{
       padding-bottom: 0;
       background-image: none;
       margin-bottom: 20px;
   }
   .carousel-inner{
       background-image: none;
   }
   .buy-now-btn{
    padding: 5px 10px;
    font-size: 12px;
    }
    .cat2{
        margin-top: 50px;
    }
  }