.container .navbar{
    padding: 20px 0;
    color: gray;
    font-size: 15px;
    font-weight: 600;
}
.navbar img{
    width: 130px;
}


.carousel-indicators li:first-child{
    width: 40px;
    height: 8px;
    border-radius: 5px;
}
.carousel-indicators li{
   height: 8px;
   width: 10px;
   border-radius: 5px;
    background-color: lightgray;
}
.carousel-indicators .active {
    background-color: #FFC320;
}
.buy-now-btn{
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius:5px
}
.buy-now-btn i{
    margin-left: 5px;
}