@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container .navbar{
    padding: 20px 0;
    color: gray;
    font-size: 15px;
    font-weight: 600;
}
.navbar img{
    width: 130px;
}

.carousel-indicators li:first-child{
    width: 40px;
    height: 8px;
    border-radius: 5px;
}
.carousel-indicators li{
   height: 8px;
   width: 10px;
   border-radius: 5px;
    background-color: lightgray;
}
.carousel-indicators .active {
    background-color: #FFC320;
}
.buy-now-btn{
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius:5px;
    font-size: 12px;
}
.buy-now-btn:hover{
    text-decoration: none;
    color: #fff;
}
.buy-now-btn i{
    margin-left: 7px;
    transform: scale(1.5,1);
    font-size: 10px;
}
.common-bottom{
    padding-bottom: 100px;
}
p{
    font-size: 13px;
    color: gray;

}
.price{
    margin-bottom: 1.5rem;
}
.card{
    border: none;
    box-shadow: 3px 5px 15px lightgray;
    padding: 50px 0 30px 0;
    border-radius: 5px;
}
.card-head{
    padding-bottom: 20px;
}
.card-head h3{
    font-weight: 700;
    font-size: 20px;
}
.card-head h6{
    color: #FFA312;
}